<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/russia.css') }}" type="text/css" />
    <title>Russia</title>
  </head>
  <body>
    <script src="./country_page.js"></script>
    <div class="nav">
      <a href="#home-page"><button title="Home Page"></button></a>
      <a href="#about-page"><button title="About Section"></button></a>
      <a href="#attraction-page"><button title="Attractions"></button></a>
      <a href="#food-page" title="Food"><button></button></a>
      <a href="#quiz-page" title="Quiz"><button></button></a>
    </div>
    <div class="container">
      <section id="home-page">
        <div class="low-opacity-bg-image" id="index-container">
          <h1>Russia</h1>
        </div>

        <div class="fade"></div>
      </section>
      <section>
        <h2 id="about-page" class="page-title">Travel Information</h2>
        <br>
        <br>
        <div class="centre">
          <div class="text-area">
            <h3>Geography</h3>
            <p>
              Russia is the largest country in the world, spanning over 17 million square kilometers. It is located in both Europe and Asia, bordered by many countries, including China, Mongolia, and Ukraine. Russia has a population of over 144 million people, and its capital is Moscow. The country is known for its vast landscapes, including tundra, forests, and mountain ranges.
            </p>
            <h3>Climate</h3>
            <p>
              Russia experiences a wide range of climates, from Arctic in the north to temperate in the south. Winters are long and cold in most regions, with temperatures often dropping below freezing. The southern areas, such as Sochi, enjoy a more mild climate, with hot summers and mild winters. Travelers should prepare for cold temperatures, especially in winter.
            </p>
            <h3>Cultural Etiquette</h3>
            <p>
              Russian culture is influenced by a rich history and diverse ethnic groups. Visitors should be respectful, especially when it comes to greetings and formalities. A firm handshake is the typical greeting, and it is polite to use formal titles when addressing someone. Russians appreciate good manners and a respectful attitude toward their culture.
            </p>
            <h3>Transportation</h3>
            <p>
              Traveling in Russia can be done via train, bus, or plane. The Trans-Siberian Railway is famous for its scenic routes. Russia’s metro systems, especially in cities like Moscow, are efficient and widely used. When traveling long distances, trains or flights are recommended.
            </p>
            <h3>Daily Costs</h3>
            <p>
              The cost of traveling in Russia can vary greatly depending on the region. Major cities like Moscow and St. Petersburg tend to be more expensive, while smaller towns are more affordable. On average, you can expect to pay around 1000 to 2000 RUB for a meal at a mid-range restaurant, and accommodation can range from 2000 to 5000 RUB per night in a 3-star hotel.
            </p>
          </div>
        </div>  
      </section>
      <section id="attraction-page">
        <div class="slider-container">
          <h2 class="page-title">Attractions</h2>
          <s id="s1"></s>
          <s id="s2"></s>
          <s id="s3"></s>
          <s id="s4"></s>

          <div class="slider">
            <div class="slide">
              <div class="card">
                <div class="img-container">
                  <img
                    class="card-img"
                    src="C:/travel/nteractive-Media-Design-and-Production-Group-Project/ECS521U coursework final (1)/Coursework Final/coursework/img/russia/State-History-Museum-Red-Square-Moscow_cs.avif"
                    alt=""
                  />
                </div>
                <div class="details">
                  <div class="content">
                    <br />
                    <h2>Red Square</h2>
                    <br />
                    <p>
                      Red Square is the main city square in Moscow, Russia. It is surrounded by important landmarks such as the Kremlin and St. Basil's Cathedral. The square has played a key role in Russia’s history and is one of the most visited tourist attractions in the country.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="card">
                <div class="img-container">
                  <img
                    class="card-img"
                    src="./img/russia/ermitage.jpg"
                    alt=""
                  />
                </div>
                <div class="details">
                  <div class="content">
                    <br />
                    <h2>The Hermitage Museum</h2>
                    <br />
                    <p>
                      The Hermitage Museum in St. Petersburg is one of the largest and oldest museums in the world. It houses an extensive collection of art, including works by Leonardo da Vinci, Rembrandt, and Michelangelo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="card">
                <div class="img-container">
                  <img
                    class="card-img"
                    src="./img/russia/lake_baikal.jpg"
                    alt=""
                  />
                </div>
                <div class="details">
                  <div class="content">
                    <h2>Lake Baikal</h2>
                    <br />
                    <p>
                      Lake Baikal is the world's deepest freshwater lake, located in Siberia. It is renowned for its crystal-clear waters, unique biodiversity, and surrounding natural beauty. It is a UNESCO World Heritage site.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="card">
                <div class="img-container">
                  <img
                    class="card-img"
                    src="./img/russia/peterhof.jpg"
                    alt=""
                  />
                </div>
                <div class="details">
                  <div class="content">
                    <h2>Peterhof Palace</h2>
                    <br />
                    <p>
                      Peterhof Palace, located in St. Petersburg, is a magnificent palace and park complex built by Peter the Great. It is often referred to as the "Russian Versailles" due to its grand design and impressive fountains.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="prevNext">
            <div><a href="#s4">←</a><a href="#s2">→</a></div>
            <div><a href="#s1">←</a><a href="#s3">→</a></div>
            <div><a href="#s2">←</a><a href="#s4">→</a></div>
            <div><a href="#s3">←</a><a href="#s1">→</a></div>
          </div>

          <div class="bullets">
            <a href="#s1"></a>
            <a href="#s2"></a>
            <a href="#s3"></a>
            <a href="#s4"></a>
          </div>
        </div>
      </section>
      <section>
        <h2 id="food-page" class="page-title">Food</h2>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <button class="pre-btn">←</button>
        <button class="nxt-btn">→</button>
        <div class="food-container">
          <div class="food-card">
            <div class="food-img-container">
              <img
                src="./img/russia/food/borscht.jpg"
                class="food-img"
                alt=""
              />
            </div>
            <div class="food-info">
              <h2 class="food-name">Borscht</h2>
              <p class="food-description">
                A traditional Russian beet soup, often served with sour cream and garnished with fresh herbs. It is a beloved dish across Russia and Eastern Europe.
              </p>
            </div>
          </div>
          <div class="food-card">
            <div class="food-img-container">
              <img src="./img/russia/food/pelmeni.jpg" class="food-img" alt="" />
            </div>
            <div class="food-info">
              <h2 class="food-name">Pelmeni</h2>
              <p class="food-description">
                Dumplings typically filled with minced meat, such as beef, pork, or lamb, and served with sour cream or butter.
              </p>
            </div>
          </div>
          <div class="food-card">
            <div class="food-img-container">
              <img src="./img/russia/food/salmon.jpg" class="food-img" alt="" />
            </div>
            <div class="food-info">
              <h2 class="food-name">Salmon</h2>
              <p class="food-description">
                Salmon is popular in Russian cuisine, often served smoked, grilled, or in salads, particularly in the northern regions of the country.
              </p>
            </div>
          </div>
          <div class="food-card">
            <div class="food-img-container">
              <img src="./img/russia/food/schnitzel.jpg" class="food-img" alt="" />
            </div>
            <div class="food-info">
              <h2 class="food-name">Schnitzel</h2>
              <p class="food-description">
                A breaded and fried meat cutlet, typically made with pork or veal, and often served with potatoes and vegetables.
              </p>
            </div>
          </div>
          <div class="food-card">
            <div class="food-img-container">
              <img src="./img/russia/food/olivier.jpg" class="food-img" alt="" />
            </div>
            <div class="food-info">
              <h2 class="food-name">Olivier Salad</h2>
              <p class="food-description">
               A popular Russian salad made with boiled potatoes, eggs, peas, pickles, and mayonnaise. It is often served during holidays.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="quiz-page">
        <div class="centre">
            <div class="quiz">
              <h1>Quiz</h1>
              <h3>Test your knowledge on Russia</h3>
              <p>Read the questions and answer with one of the given options.</p>
              <p>Check the answer and move on to the next question if it is correct</p>
              <p>If you chose the incorrect answer, try again until you have answered it right.</p>
              <br>
              <p><b style="font-weight: bolder;">Note: only first the try on the question will be scored.</b></p> 
              <br>
              <button onclick="window.location.href='/static/quiz_attempt_copy/quizrussia/index.html'">START QUIZ</button>              <br>
              <br>
          </div>
        </div>
      </section>
    </div>
  </body>

  <script>
    const productContainers = [
      ...document.querySelectorAll(".food-container"),
    ];
    const nxtBtn = [...document.querySelectorAll(".nxt-btn")];
    const preBtn = [...document.querySelectorAll(".pre-btn")];

    productContainers.forEach((item, i) => {
      let containerDimensions = item.getBoundingClientRect();
      let containerWidth = containerDimensions.width / 2;

      nxtBtn[i].addEventListener("click", () => {
        item.scrollLeft += containerWidth;
      });

      preBtn[i].addEventListener("click", () => {
        item.scrollLeft -= containerWidth;
      });
    });
  </script>
</html>
